@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap)

/* body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color:#9e579d;

} */

/* html, body{ 
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #782222;
  } */

/* home */
.bg-dark {
   background-color: rgba(160, 46, 46, 0.364)!important; 
}
.bg-white{
  /* background-color: rgba(160, 46, 46, 0.364)!important;  */
  background-color:rgba(9, 9, 9, 0.83)!important;
  color:#fefeff;
}
.navbar{
  padding: 0.5rem;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  /* color: rgb(120 17 17 / 50%); */
  color: #fefeff;
}
.navbar-light .navbar-nav .nav-link {
  /* color: rgb(120 17 17 / 50%); */
  color: #fefeff;

}
.navbar-nav li{
  padding-right:10px;
}
.nav-link{
  font-size: 1.1em !important
}
.carousel-inner img{
  width: 100%;
  height: 100;
}
.carousel-caption{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.carousel-caption h1{
  font-size: 250%;
  text-transform: uppercase;
  text-shadow: 1px 5px #000;
}
.animate__animated.animate__fadeInUpBig {
  --animate-duration: 2s;
}

.carousel-caption h3{
  font-size: 200;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}
/* projects carousel images */
img {
  padding: 1px;
  vertical-align: middle;
  border-style: none;
  /* border-radius: 10px; */
}

/* about avatar */
.img-circle{
  padding: 5px;
  vertical-align: middle;
  border: 2px;
  border-style: none;
  border-radius: 20px;

}
.card, .card-header{
  background-color: coral;
  /* color: chocolate; */
}
#collapseOne{
  background-color: rgba(9, 9, 9, 0.83);
}
/* #background2{
    background-color: #92a8d1;
    background: url(background-2389033_1280.jpg)

} */
#collapseTwo{
  background-color: rgba(9, 9, 9, 0.83);
}

/* about SM icons */
.padding{
  padding-bottom: .6rem;
}
.welcome {
  width:75;
  margin: 0 auto;
  padding-top: 2rem;
}

#bio {
  /* background-color:#372a4136; */
  margin: 2px;
  padding: 2px;
  /* background-color: rgba(160, 46, 46, 0.563); */
  text-align: center;
}


/* .btn {
  background-color: #6648b1;
  border: 1px solid #563d7c;
}
.btn :hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;  */
 
a{
  color: #fefeff;
}
 a:hover   
      {   
         color: rgb(197, 48, 48);   
      }              
      a:active  
      {  
      color: rgb(163, 248, 248);  
      }  


/* hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
} */
.btn-link{
  font-weight: 500;
    color: #fefeff;
    text-decoration: none;
}

/* project sidelines */
.jumbotron{
  padding: 1rem;
  border-radius: 0;
  /* background-image: url("./assets/image/bg/background-2389033_1280.jpg"); */
  /* background-color: rgb(185, 44, 255); */
  /* background-color: brown; */
  /* background-color: rgba(160, 46, 46, 0.563); */
  background-color: coral;
}
.carousel-inner{
  
}

/* contact */
/* fab icon */
.fab{
  padding-bottom: .5rem;
  size:6px;
}